.about-page{
background:#f8f8f8;
}

/* HERO */

.about-hero{
height:480px;
padding: 3px;
position:relative;
background: #f8f8f8;
display: flex;
align-items: stretch;
}

.about-hero::before{
content: '';
position: absolute;
top: 3px;
left: 3px;
right: 3px;
bottom: 3px;
background: url("/images/ab3.jpg") center/cover no-repeat;
border-radius: 12px;
z-index: 1;
}

.hero-overlay{
position:absolute;
top: 3px;
left: 3px;
right: 3px;
bottom: 3px;
width: auto;
height: auto;
background:rgba(0,0,0,0.5);
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:#fff;
text-align:center;
border-radius: 12px;
z-index: 2;
}

.hero-overlay h1{
font-size:48px;
font-weight:700;
}

.hero-overlay p{
font-size:18px;
margin-top:10px;
}

/* SECTIONS */

.about-section{
padding:70px 20px;
}

.about-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:50px;
align-items:center;
}

.reverse{
grid-template-columns:1fr 1fr;
}

.about-img img{
    height: 400px;
width:100%;
border-radius:12px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
padding: 3px;
border: 1px solid #f0f0f0;
}

.about-text h2{
font-size:34px;
margin-bottom:20px;
color:#6b4423;
}

.about-text p{
font-size:16px;
line-height:1.8;
color:#555;
margin-bottom:15px;
}

/* RESPONSIVE */

@media(max-width:900px){

.about-grid{
grid-template-columns:1fr;
}

.hero-overlay h1{
font-size:32px;
}

}