.product-page {
  padding: 20px;
}

/* MAIN BOX */
.main-box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

/* IMAGE */
.img-box {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

/* DETAILS */
.details-box h2 {
  font-weight: bold;
}

/* RATING */
.rating {
  color: #ccc;
}

.rating .active {
  color: gold;
}

/* PRICE */
.price {
  margin: 10px 0;
}

.sale {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.old {
  text-decoration: line-through;
  color: gray;
  margin-left: 10px;
}

.normal {
  font-size: 20px;
  font-weight: bold;
}

/* STOCK */
.stock.ok { color: green; }
.stock.out { color: red; }

/* DESC */
.desc {
  margin: 15px 0;
}

/* QTY */
.qty {
  display: flex;
  gap: 10px;
  align-items: center;
}

.qty button {
  width: 35px;
  height: 35px;
  border: none;
  background: #6b4423;
  color: #fff;
}

/* BUTTONS */
.buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.cart-btn {
  background: #6b4423;
  color: #fff;
  padding: 10px;
  border: none;
  flex: 1;
}

.buy-btn {
  background: black;
  color: #fff;
  padding: 10px;
  border: none;
  flex: 1;
}

/* SIMILAR */
.similar {
  margin-top: 30px;
}

.card-sim {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}

.card-sim:hover {
  transform: translateY(-5px);
}

.card-sim img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

/* MOBILE BAR */
.mobile-bar {
  display: none;
}

/* RESPONSIVE */
@media(max-width:768px){

  .desktop { display: none; }
  .mobile { display: block; }

  .mobile-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 10px;
    background: #fff;
    padding: 10px;
  }

  body {
    padding-bottom: 70px;
  }
}