.product-card {
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.08);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  transition: 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* IMAGE */
similar-img {
  width: 100%;
  height: 160px;
  overflow: hidden;
  position: relative;
}

similar-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

/* ZOOM EFFECT */
.product-card:hover similar-img img {
 transform: scale(1.08);
}

/* SALE BADGE */
.sale-badge {
  position: absolute;
  top: 8px;
  left: 8px;
  background: #ff3b3b;
  color: #fff;
  font-size: 11px;
  padding: 4px 8px;
  border-radius: 20px;
  font-weight: 600;
}

/* BODY */
.product-body {
  padding: 12px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* TITLE */
.product-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
  color: #222;
}

/* RATING */
.product-rating {
  margin-bottom: 6px;
}

.star {
  color: #ccc;
  font-size: 12px;
}

.star.active {
  color: #f5a623;
}

/* PRICE */
.product-price {
  margin-bottom: 8px;
}

.sale {
  color: #e60023;
  font-weight: 600;
  margin-right: 6px;
}

.old {
  text-decoration: line-through;
  color: #999;
  font-size: 12px;
}

.normal {
  font-weight: 600;
  color: #333;
}

/* BUTTONS */
.product-buttons {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* ADD BUTTON */
.add-btn {
  background: #6b4423;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.add-btn:hover {
  background: #4e2f16;
}

/* DETAILS BUTTON */
.details-btn {
  border: 1px solid #6b4423;
  color: #6b4423;
  background: transparent;
  padding: 8px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.details-btn:hover {
  background: #1f1d1c;
  color: white;
}

/* RESPONSIVE */
@media (max-width: 576px) {

  .product-image {
    height: 130px;
  }

  .product-title {
    font-size: 13px;
  }
  

  .add-btn,
  .details-btn {
    font-size: 11px;
    padding: 6px;
  }
}